<div class="container" ng-controller="TodoController as todo">
    <div class="todo-wrapper">
        <h2 class="total-items">What Motivates You?</h2>
        <a ng-click="othersTodos(); show=true" ng-hide="show">See what motivates other users...</a>
        <div class="other-todos" ng-show="show">
            <ul>
                <li ng-repeat="featTodo in randomArray">
                    <div>{{featTodo}}</div>
                </li>
            </ul>
            <a ng-click="clearOthers();show=false">close</a></div>
        <div class="todo-list">
            <ul class="nav">
                <li ng-repeat="todo in todos">
                    <input class="checkbox" type="checkbox" ng-model="todo.done" />
                    <span class="todo-{{todo.done}} todo">{{todo.todo}}</span>
                    <input style="display: none;" data-id="{{todo.id}}"></input>
                </li>
            </ul>
            <input type="text" Placeholder="Enter Task" maxlength="100" ng-model="input" />
            <p class="error">{{error}}</p>
            <a class="button" ng-click="postTodos()"> Add New Task</a>
            <a class="button" ng-click="deleteTodos()">Delete Selected</a>
        </div>
    </div>
</div>
