<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blue Mirror</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Depression, Anxiety, Coping">
    <meta name="author" content="Adam Reed, Amineta Lo, Katherine Hill">
</head>

<body>
    <nav class="fixed-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Meds</a></li>
            <li><a href="#">Mood</a></li>
            <li><a href="#">Journal</a></li>
        </ul>
    </nav>

    <main>
      <div class="login">
        <button class="ui">
          <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
          Sign in with Google
        </button>
        <button class="ui">
          <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/267px-F_icon.svg.png" />
          Sign in with Facebook
        </button>
      </div>

        <!-- <div class="update-mood-container">
            <div class="mood-info">
                <h2>Update Your Mood</h2>
                <select>
                    <option value="Happy">Happy</option>
                    <option value="Sad">Sad</option>
                    <option value="Indifferent">Indifferent</option>
                    <option value="Angry">Angry</option>
                </select>
                <form class="mood-form">
                    <label for="explain">Explain:</label>
                    <input type="text" id="explain" name="explain" placeholder="Please explain">

                    <input type="submit" value="Enter">
                </form>
            </div>
            <div class="mood-updated">
                <h2>Mood Updated!</h2>
                <span>Edit</span>
            </div>
        </div> -->
    </main>
</body>

</html>
