<!DOCTYPE html>
<html lang="en" ng-app="BlueMirrorApp">

<head>
    <title>Blue Mirror</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Depression, Anxiety, Coping">
    <meta name="author" content="Adam Reed, Amineta Lo, Katherine Hill">
</head>

<body>

  <div class="login">
      <button class="ui">
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
        Sign in with Google
        <%= link_to 'Sign in with Google', 'auth/google'%>
      </button>
      <button class="ui">
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/267px-F_icon.svg.png" />
        <%= link_to 'Sign in with Facebook', 'auth/facebook'%>
      </button>
  </div>

    <nav class="fixed-nav">
        <ul>
            <li><a ui-sref="BlueParent.profile">Home</a></li>
            <li><a>Meds</a></li>
            <li><a>Mood</a></li>
            <li><a>Journal</a></li>
        </ul>
    </nav>

    <ui-view></ui-view>

</body>

</html>
