.form-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form-horizontal {
    display: flex;
}

.calendar-container {
    width: 65%;
    margin: 0 auto;
}

.fc-left h2 {
    color: black;
}

.fc-right {
    display: inline-block;
}

.fc-button {
    float: none;
}

.btn-group {
    display: flex;
    justify-content: center;
}

button.btn {
    width: none;
}


.fc-day-grid-event .fc-content {
    white-space: normal !important;

}



/*** Calendar ***/
 .calXBtn {
    float: right;
    margin-top: -5px;
    margin-right: -5px;
}
.calWell {
    float: left;
    margin: 40px;
    background: white;
}
.fc-event.openSesame {
    background-color: rgb(229, 229, 11);
    color: black;
}
.fc-event.customFeed {
    background-color: rgb(132, 222, 175);
    color: black;
}
.calTools {
    margin-bottom: 10px;
}
