.chart-headline {
    text-align: center;
}

.chart-container {
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
    @include bp (mobile) {
        width: 100%;
    }
    @include bp (small) {
        width: 65%;
    }
}
