@import url( 'https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway');
$headerFont: 'Josefin Slab', serif;
$primaryFont: 'Raleway', sans-serif;
$mainColor: #399ea7;
$accentTeal: #2e7a81;
$accentCream: #f5f6ef;
$borderColor: #d6d6d6 #888 #888 #d6d6d6;
$border: 2px solid $accentCream;
$portfolioBorder: 2px solid white;
$largeBorder: 10px solid $mainColor;
$radius: 0.3rem;
$start: $mainColor;
$end: $mainColor;

body {
    background: $mainColor;
}

h1 {
    font-family: $headerFont;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-family: $headerFont;
    color: $accentCream;
    padding-bottom: 10px;
    padding-top: 10px;
}

span {
    font-family: $primaryFont;
}

ul {
    font-family: $primaryFont;
}

li {
    font-family: $primaryFont;
}

a {
    font-family: $primaryFont;
}

p {
    font-family: $primaryFont;
}

main {
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

button {
    text-transform: uppercase;
    font-family: $primaryFont;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    display: block;
    width: 300px;
    cursor: pointer;
    background: none;
    outline: none;
    border: 2px solid;
    background: $accentCream;
    border-color: $borderColor;
    border-radius: $radius;

    &:hover {
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    }
}

input {
    outline: none;
    display: block;
    margin: 2%;
    padding: 10px;
    width: 100%;
    border: 1px solid #333;
    border: $border;
    background: $accentCream;
    border-radius: $radius;
}

.button {
    outline: none;
    font-family: $primaryFont;
    color: black;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
    padding: 10px;
    width: 300px;
    border: 2px solid;
    background: $accentCream;
    border-color: $borderColor;
    cursor: pointer;
    border-radius: $radius;

    &:hover {
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    }
}
