.angular-google-map-container {
    height: 300px;
}
@import url( 'https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway');
$headerFont: 'Josefin Slab', serif;
$primaryFont: 'Raleway', sans-serif;
$mainColor: #399ea7;
$accentDullRed: #bd7556;
$accentBrightRed: #df7236;
$accentTeal: #2e7a81;
$darkAccentTeal: #35635d;
$accentCream: #fbfdf2;
$borderColor: #d6d6d6 #888 #888 #d6d6d6;
$borderColorRemove: #d6d6d6 $accentBrightRed $accentBrightRed #d6d6d6;
$border: 0.13rem solid #e7e5dc;
$portfolioBorder: 2px solid white;
$largeBorder: 10px solid $mainColor;
$radius: 0.3rem;
$start: $mainColor;
$end: $mainColor;

body {
    background: $accentCream;
    // .all-container {
    //     width: 100%;
    //     height: 100%;
    // }
}

a,
i,
li,
span {
    font-family: $primaryFont;
    color: $darkAccentTeal;
}

a,
button {
    cursor: pointer;
}

input {
    outline: none;
    display: block;
    margin: 2%;
    padding: 10px;
    width: 200px;
    font-size: 1rem;
    line-height: 1.25rem;
    border: $border;
    background: $accentCream;
    border-radius: $radius;
    color: $accentTeal;
}

button {
    text-transform: uppercase;
    font-family: $primaryFont;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    display: block;
    width: 200px;
    cursor: pointer;
    outline: none;
    border: 2px solid;
    color: $accentCream;
    background: $mainColor;
    border-color: none;
    border-radius: $radius;

    &:hover {
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    }
}

.button {
    text-transform: uppercase;
    font-family: $primaryFont;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    display: block;
    width: 200px;
    cursor: pointer;
    outline: none;
    border: 2px solid;
    color: $accentCream;
    background: $mainColor;
    border-color: none;
    border-radius: $radius;

    &:hover {
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    }
}

.remove {
    background: $accentDullRed;
    color: $accentCream;
    border-radius: $radius;
}

.bmirror {
    width: 100px;
    height: 100px;
}
//
// h1 {
//     font-family: $headerFont;
//     font-size: 3rem;
// }
//

h2 {
    // font-size: 2rem;
    font-family: $headerFont;
}
//

h3 {
    font-size: 1.5rem;
    font-family: $headerFont;
    color: $darkAccentTeal;
}
//
// p {
//     font-family: $primaryFont;
// }
//
// main {
//     margin-bottom: 50px;
// }
//
// label {
//     color: $darkAccentTeal;
// }
//
// .container {
//     display: flex;
//     justify-content: center;
//     margin-top: 50px;
// }
//
// .disableButton {
//     opacity: 0.35;
//     background: #eee;
//     color: #444;
// }
//
// button {
//     text-transform: uppercase;
//     font-family: $primaryFont;
//     padding: 10px;
//     margin-bottom: 10px;
//     font-size: 1rem;
//     display: block;
//     width: 300px;
//     cursor: pointer;
//     background: none;
//     outline: none;
//     border: 2px solid;
//     color: $accentTeal;
//     background: $accentCream;
//     border-color: $borderColor;
//     border-radius: $radius;
//
//     &:hover {
//         box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
//     }
// }
//
// input {
//     outline: none;
//     display: block;
//     margin: 2%;
//     padding: 10px;
//     width: 100%;
//     border: 1px solid #333;
//     border: $border;
//     background: $accentCream;
//     border-radius: $radius;
//     color: $accentTeal;
// }
//
// .button {
//     outline: none;
//     font-family: $primaryFont;
//     color: $accentTeal;
//     font-size: 1rem;
//     text-align: center;
//     text-transform: uppercase;
//     margin-bottom: 5px;
//     display: block;
//     padding: 10px;
//     width: 300px;
//     border: 2px solid;
//     background: $accentCream;
//     border-color: $borderColor;
//     cursor: pointer;
//     border-radius: $radius;
//
//     &:hover {
//         box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
//     }
// }
//
// .error {
//     color: $accentCream;
// }
//
//
// .data-id {
//     display: none;
// }
//
// textarea {
//     color: $darkAccentTeal;
//     line-height: 1.25rem;
//     font-size: 1rem;
//     padding: 1%;
//     outline: none;
//     border: none;
// }
