.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-results ul li {
    margin-bottom: 15px;

    .list-colored {
        color: #81dde1;
    }

    a.result-website {
        text-decoration: underline;
    }
}

.result-number {}

.result-website {}

.map-container {
    z-index: -1;
    @include bp(mobile) {
        width: 90%;
        height: 150px;
        margin-top: 30px;
        padding-bottom: 300px;
    }
    @include bp(small) {
        width: 600px;
        height: 300px;
        margin-top: 30px;
        margin-bottom: 150px;
    }

}

.map-results {

    h2 {
        text-align: center;
        padding-bottom: 20px;
    }

    @include bp(mobile) {
        padding-top: 200px;
        width: 60%;
    }

    @include bp(small) {
        padding-top: 20px;
        width: 77%;
    }

//     ul {
//         display: flex;
// flex-direction: column;
// align-items: center;
//     }
}

.list-styled {
    .list-colored a {
        color: $mainColor;
    }

    .list-underlined a {
        text-decoration: underline;
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 60%;
    margin: -40px 0 0 -40px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 15px solid $mainColor;
    border-top-color: $darkAccentTeal;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
