.medication-container {
    margin-bottom: 50px;
}

.medication-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $darkAccentTeal;

    h2 {
        padding-bottom: 10px;
    }

    span {
        padding-bottom: 5px;
    }
}

.med-list {

    @include bp(mobile) {
        width: 79%;
    }

    @include bp(small) {
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.med-nav {
        // width: 300px;
        // display: inline-block;
        color: #97a0af;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 10px;

        @include bp(small) {
            padding-left: 60px;
        }

        li {
            display: flex;
            align-items: baseline;

            input {
                display: inline-block;
            }

            .checkbox {
                width: 7%;
            }

            span {
                padding-left: 5px;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5px;

        input {
            @include bp(mobile) {
                width: 95%;
            }

            @include bp(small) {
                width: 63%;
            }

        }
    }
}


.med-buttons {
    button:nth-child(2) {
        background: $accentDullRed;
    }

    @include bp(mobile) {
        width: 75%;
        padding-top: 15px;
        margin-left: -3px;
    }
    @include bp(small) {
        display: inline-flex;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 5px;
    }

}

button.took-meds {
    background: #73a739;
    @include bp(mobile) {
        width: 270px;
    }
    @include bp(small) {
        width: 263px;
    }
}


.form-container {
    padding-top: 20px;
}


// .medication-container {
//     margin-top: 50px;
//     margin-bottom: 50px;
// }
//
// .calWell {
//     color: $mainColor;
//     float: none;
// }
//
// span.med-true {
//     text-decoration: line-through;
// }
//
// .control-label {
//     padding: 5px;
// }
//
// .col-sm-10 {
//     padding-right: 10px;
// }
//
// button.pull-right {
//     margin-left: 25px;
// }
