.container-mood {
    display: flex;
    justify-content: center;

    input.button {
        margin-top: 20px;
    }
}

.update-mood-container {
    h2 {
        color: #35635d;
        padding-bottom: 20px;
    }

    form {
        padding-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;

        a {
            color: $accentBrightRed;
        }

        input.button {
            align-self: center;
        }
    }
}

.select_style {
	background: #FFF;
	overflow: hidden;
	// display: inline-block;
	color: #525252;
	font-weight: 300;
	-webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
	-moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
	border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
	-webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
	-moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
	box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
	border: solid 1px #DADADA;
	font-family: $primaryFont;
	position: relative;
	cursor: pointer;
	padding-right: 20px;
    // width: 25%;
}

.select_style span {
	position: absolute;
	right: 10px;
	width: 8px;
	height: 8px;
	background: url('http://projects.authenticstyle.co.uk/niceselect/arrow.png') no-repeat;
	top: 50%;
	margin-top: -4px;
}

.select_style select {
	-webkit-appearance: none;
	appearance:none;
	width:120%;
	background:none;
	background:transparent;
	border:none;
	outline:none;
	cursor:pointer;
	padding:7px 10px;
}


// .mood {
//     margin-top: 10px;
// }
//
// .update-mood-container {
//     margin-top: 40px;
//     border-top: $border;
//     border-bottom: $border;
//     padding: 10px;
//     @include bp (small) {
//         margin-top: 70px;
//     }
// }
//
// .mood-info {
//     display: flex;
//     width: 300px;
//     align-items: center;
//     flex-direction: column;
//
//     select {
//         height: 29px;
//         overflow: hidden;
//         width: 100%;
//         background: $accentCream;
//         font-family: $primaryFont;
//         outline: none;
//         font-size: 1rem;
//         text-transform: lowercase;
//         padding: 10px;
//         margin-bottom: 10px;
//     }
//
//     form {
//         width: 100%;
//         margin-top: 1%;
//
//         label {
//             margin-left: 10px;
//         }
//     }
// }
