.sms-container {
    position: absolute;
    right: 50px;
    @include bp(mobile) {
        bottom: 65px
    }

    @include bp(small) {
        bottom: 20px;
    }
}

a.desktop-sms {
    @include bp(mobile) {
        visibility: hidden;
    }
    @include bp(small) {
        visibility: visible;
    }
}

.sms-popup {
    padding: 5px;
    border-radius: 0.3rem;
    background: rgba(255, 255, 255, 0.77);
    border: 0.13rem solid #e7e5dc;

    form div {
        padding-bottom: 18px;
    }

    @include bp(mobile) {
        width: 331px;
    }

    @include bp(small) {

        width: 368px;
    }
    // width: 333px;
    // background: rgba(251, 253, 242, 0.8);

}

.opt-in {
    text-align: center;
}

// .opt-in span {
//     @include bp(mobile) {
//         display: block;
// }
//     @include bp(small) {
//         display: inline;
//     }
// }

.smsForm button {
    padding: 6px;
}

.smsForm label {
    font-size: 15px;
}

form.smsForm label i {
    color: #bc2c2c;
    font-size: 8px;
}

input#phonenum {
    margin: 0;
    padding: 3px
}

.smsForm div span {
    font-family: $headerFont;
    font-size: 1.5em;
}

.frequency {
    padding-top: 15px;
    padding-bottom: 18px;
}

.provider {
    display: block;
}

.receiving-message {
    padding-bottom: 13px;
    font-family: $headerFont;

    span.reminder {
        color: $accentDullRed;
    }
}
