.error {}

.todo-wrapper {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2 {
        padding-bottom: 10px;
    }

    a {
        padding-bottom: 10px;
    }
}

.todo-list ul {
    width: 300px;
    display: inline-block;
    color: #97a0af;
    margin-top: 10px;

    li {
        display: flex;
        margin-bottom: 5px;
        flex-wrap: nowrap;
        align-items: center;
        width: 70%;
        margin: 0 auto;

        .checkbox {
            width: 10%;
        }

        span {
            width: 80%;
        }
    }
}

span.med-true {
    text-decoration: line-through;
}

.todo-list input[type="text"] {
    display: block;
    padding: 10px;
    margin: 10px auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.other-todos {
    padding: 5px;
    width: 300px;
    border-radius: $radius;
    background: rgb(253, 242, 242);
    // background: rgba($accentCream,.8);
}

span.todo-true {
    text-decoration: line-through;
}

.todo-list {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
