.update-mood-container {
    margin: 20px;
}

.mood-info {
    font-family: $primaryFont;
}

.mood-updated {
    font-family: $primaryFont;
}

.local-counselors-container {
    text-align: center;
}

.emergency-services {
    text-align: center;
}

.signout {
    margin-left: 10px;
    position: fixed;
    @include bp(small) {
        margin-top: 50px;
    }

    a {
        color: $accentCream;

        &:hover {
            color: white;
        }

        &:active {}
    }
}

.counselors {
    display: flex;
    align-items: center;
    flex-direction: column;
}
