.update-mood-container {
    margin-top: 50px;
    text-align: center;
}
.mood-info {
    font-family: $primaryFont;
}

.mood-updated {
    font-family: $primaryFont;
}

.local-counselors-container {
    text-align: center;
}
