.medication-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        padding-bottom: 10px;
    }

    span {
        padding-bottom: 5px;
    }
}

.med-list {
    text-align: center;

    ul.med-nav {
        // width: 300px;
        // display: inline-block;
        color: #97a0af;
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            align-items: baseline;

            input {
                display: inline-block;
            }

            .checkbox {
                width: 7%;
            }

            span {
                padding-left: 20px;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.med-nav {}
// .medication-container {
//     margin-top: 50px;
//     margin-bottom: 50px;
// }
//
// .calWell {
//     color: $mainColor;
//     float: none;
// }
//
// span.med-true {
//     text-decoration: line-through;
// }
//
// .control-label {
//     padding: 5px;
// }
//
// .col-sm-10 {
//     padding-right: 10px;
// }
//
// button.pull-right {
//     margin-left: 25px;
// }
