<div>
    <i class="fa fa-mobile" aria-hidden="true"></i>
    <i class="fa fa-phone" aria-hidden="true"></i>
    <i class="fa fa-comments-o" aria-hidden="true"></i>
    <i class="fa fa-globe" aria-hidden="true"></i>
    <i class="fa fa-tty" aria-hidden="true"></i>
    <ul>
        <li><a href="https://suicidepreventionlifeline.org/ "><h3>Suicide Prevention Lifeline</h3></a></li>
        <li><a href="http://www.crisistextline.org/"><h3>Crisis Textline</h3></a> </li>
        <li><a href="http://www.nami.org/Find-Support/NAMI-HelpLine"><h3>NAMI hotline</h3></a>(National Alliance for mental health)</li>
        <li><a href="https://www.samhsa.gov/find-help/national-helpline "><h3>samhsa</h3></a>substance abuse and mental health helpline (no counseling, just informational)</li>
        <li><a href="http://www.dbsalliance.org/site/PageServer?pagename=home"><h3>DBS Alliance </h3></a>Depression and Bipolar Disorder</li>
        <li>
            <a href="http://www.boystown.org/hotline/Pages/default.aspx ">
                <h3>Boystown Youth</h3> </a>mental health helpline
        </li>
        <li><a href="https://www.nationaleatingdisorders.org/help-support/contact-helpline"><h3>National Eating Disorder</h3> helpline</a></li>
        <li><a href="http://hopeline.com/"><h3>Hopeline</h3></a> online support-chat, or phone hotline</li>
        <li>
            <a href="https://www.rainn.org/ ">
                <h3>RAINN</h3></a>National Sexual Assault Hotline. Free. Confidential. 24/7. phone and online chat
        </li>
        <li><a href="http://www.postpartum.net/"><h3>Postpartum Support International </h3></a>chat with experts, support hotline, online support groups</li>
        <li><a href="http://www.thehotline.org/ "><h3>The Hotline</h3></a>for victims of domestic abuse</li>
        <li><a href="http://www.thetrevorproject.org/  "><h3>The Trevor Project</h3></a> , 24/7, crisis intervention and suicide prevention for LGBTQ young people 24/7 helpline, online chat and text availabe, </li>
        <li><a href="http://www.glbthotline.org/ "><h3>LGBT National </h3></a>help center(hotlines specifically for youth, all ages, and senior LGBT)</li>
    </ul>


</div>
